<!DOCTYPE html>
<html>
    <head>
        <title>MusicStats</title>
        <link rel="stylesheet" type="text/css" href="../style/style.css"/>
    </head>
    <body>
        <div class="header">
            <h1 class="heading">Welcome to MusicStats!</h1>
        </div>
        <div class="search-container">
                <form class="searchbar">
                    <input type="text" placeholder="Enter search query e.g. Blues, 90s etc."></input>
                    <input class="search-button" type="submit"></input>
                </form>
        </div>
        <main class="content">

        </main>
        <script src="../js/index.js"></script>
    </body>
</html>