<!DOCTYPE html>
<html>
    <head>
        <title>MusicStats</title>
        <link rel="stylesheet" type="text/css" href="../style/style.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="header">
            <h1 class="heading">Welcome to MusicStats!</h1>
        </div>
        <div class="search-container">
                <form class="searchbar">
                    <!-- <input type="text" placeholder="Enter search query"></input> -->
                    <div id="select-box">
                        <select id="select-categories">
                            <option value="" disabled selected>Add term</option>
                            <option value="artist">Artist</option>
                            <option value="song">Song</option>
                            <option value="album">Album</option>
                            <option value="region">Region</option>
                        </select>
                        <button type="button" id="add-term_button"><i class="fa fa-plus-square-o"></i></button>
                    </div>
                    <input class="search-button" type="submit"></input>
                </form>
        </div>
        <main class="content">

        </main>
        <div class="results">
            <div class="artwork"></div>
            <div class="info"></div>
        </div>

        <div class="floating-container">
            <div class="column-container">
                <h1>Sonical Analysis</h1>
                <div class="genre-verdict">
                    <h2>Fans of the following genres are very likely to love this song:</h2>
                </div>
                <div class="genre-verdict">
                    <div class="genre-pool"></div>
                </div>
            </div>
        </div>

        <div class="floating-container">
            <div class="column-container">
                <h1>Demographic Breakdown</h1>
                <p>Based on this track's metadata and genre, here's how various demographics react to it:</p>
                <div class="agetab">
                    <img class="userimg" src="../static/young.png"/>
                    <span id="youthpref"></span>
                </div>
                <div class="agetab">
                    <img class="userimg" src="../static/semior.png"/>
                    <span id="seniorpref"></span>
                </div>
                <div id="demoline"></div>
            </div>
        </div>

        <div class="floating-container">
            <div class="column-container">
                &nbsp;
            </div>
            <div class="column-container">
                <h1>Similar Tracks</h1>
                <div id="similartracks"></div>
            </div>
        </div>
        <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
        <script src="../js/index.js"></script>
        <script src='../js/map.js'></script>
        <script src="../js/country-mapper.js"></script>
    </body>
</html>